$aliceblue: #e1ecff;
$black: #171717;
$blue: #427fec;
$darkgreen: #0b8449;
$deepSkyBlue: #28c0fe;
$french-blue: #4466a3;
$gray: #555555;
$grayBg: #f5f5f5;
$green: #20bd70;
$lightgray: #999999;
$navBg: #061a4c;
$navSubBg: #0d2152;
$placeholder: #e8e8e8;
$red: #d0021b;
$textNavy: #4466a3;
$violet: #688bf5;

$primary-btn-bg: #1877f2;
$white: #fff;

$link-text: #0645AD;