
@import './assets/styles/variable.scss';

.app-container {
    overflow-x: hidden;
}

.app-header{
    border-bottom: 1px solid $grayBg;
    background-color: $white;
    padding: 0px 20px;
}

.app-content{
    min-height: calc(100vh - 64px);
}

.app-sider {
    background-color: #fff;
}